<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resume History</title>
</head>
<body>

<h1>Resume Analysis History</h1>

<table border="1">

    <tr>
        <th>ID</th>
        <th>File Name</th>
        <th>ATS Score</th>
        <th>Match Score</th>
        <th>Uploaded At</th>
    </tr>

    <tr th:each="r : ${history}">
        <td th:text="${r.id}"></td>
        <td th:text="${r.fileName}"></td>
        <td th:text="${r.atsScore}"></td>
        <td th:text="${r.matchScore}"></td>
        <td th:text="${r.uploadedAt}"></td>
    </tr>

</table>

</body>
</html>